// Custom styles.
// 大代码块的自定义样式
pre {
    margin: 5px 0;

    border: 1px solid #2f6fab;
    border-radius: 3px;
    overflow: auto;
    font-size: 15px;
    padding: 5px;
}
code, pre {
font-family: Consolas, Monaco, Andale Mono, monospace;
    border: 1px solid #d6d6d6;
//background-color: #fff;
    color:rgb(210,210,210);
    font-size: 15px;
    font: Monaco;
//    background-color: inherit;
    border: none;
    padding: 0;
}

//小代码块样式
code {
	color: rgb(199,37,38);
    background-color:rgb(250,220,230);
//    border: 1px solid orange;
    border: none;
    border-radius: 3px;
    padding: 0 0.2em;
    margin: 2px;
}
//**包含的字符串
em {
	color: #b05000;
//    color: blue;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
//    border: 0 none !important;
}

//>指定的段落
blockquote {   
color:#666666;
  position: relative;   
  padding-left: @four-space/2;   
  padding-left: @two-space-css3;   
  overflow: hidden;  
  font-size: 15px;
  background-color:rgb(242,244,246);
}

// 主页文章添加阴影效果
// .post {
//   margin-top: 60px;
//   margin-bottom: 60px;
//   padding: 25px;
//   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
//  }